/* stylesheet */
#individual-post {
  margin-top: 60px;
}

section#individual-post header {
  margin-bottom: 6px;
  position: relative;
}

section#individual-post header h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 7px;
  word-wrap: break-word;
}

section#individual-post header p.post-tag {
  line-height: 24px;
  margin-bottom: 4px;
}

section#individual-post header p.post-meta, section#individual-post header p.post-meta a {
  font-size: 14px;
  font-weight: 300;
  color: #999;
}

section#individual-post .meta-clearfix {
  margin-left: 6px;
  margin-right: 6px;
}

section#individual-post header p.post-meta, section#individual-post header p.post-meta a:hover {
  text-decoration: none;
}

.fixed-wrap-post-bar {
  height: 54px;
}

.post-afterbar-a .in-post-top {
  padding: 10px 0;
  height: 34px;
  margin: 0;
  border: 0;
  background-color: #fff;
  width: 640px;
}

.in-post-top .share {
  float: left;
}

.in-post-top .share ul {
  overflow: hidden;
  list-style-type: none;
}

.in-post-top .share li {
  float: left;
  margin-right: 10px;
}

/* .in-post-top .share li a:hover,
.in-post-top .share li a:focus {
  text-decoration: none;
} */

.in-post-top .btn-share.facebook {
  background-color: #3b5998;
}

.in-post-top .btn-share {
  display: block;
  color: #fff;
  font-weight: 300;
  height: 34px;
  background-color: #f4f4f4;
  line-height: 34px;
  padding: 0 15px 0 34px;
  border-radius: 2px;
  text-align: center;
  position: relative;
}

.in-post-top .btn-share.facebook:after {
  content: " ";
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 2px;
  background: url("https://assets-9gag-fun.9cache.com/s/fab0aa49/93865bf35b6e74ebe10141a5bbeae9483532a800/static/dist/web6/img/sprite.png") -90px -30px no-repeat;
  background-size: 510px 120px;
}

.in-post-top .btn-share.facebook:hover,
.in-post-top .btn-share.facebook:focus {
  text-decoration: none;
  background-color: #4c70ba;
}

.post-container .image-post img {
  margin: 0 auto;
  width: 600px;
}

.in-post-top .post-nav {
  float: right;
}

.post-nav .next {
  display: block;
  padding-right: 12px;
  position: relative;
}

.post-nav .next:hover,
.post-nav .next:focus {
  text-decoration: none;
}

.post-nav .next span.label {
  padding: 0 8px 0 12px;
  height: 34px;
  font-weight: 300;
  line-height: 34px;
  display: block;
  background-color: #ff3c1f;
  color: #fff;
  border-radius: 3px 0 0 3px;
}

.post-nav .next span.arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 0;
  height: 0;
  border-top: 17px dashed transparent;
  border-bottom: 17px dashed transparent;
  border-left: 12px solid #ff3c1f;
}

.post-comment {
  padding-bottom: 30px;
  margin-top: 20px;
}

.comment-list {
  font: 13px Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.comment-list .tab-bar {
  height: 43px;
  border-bottom: 1px solid #ddd;
}

.comment-list .clearfix:after, .omment-lis .clearfix:before {
  content: " ";
  display: table;
}

.comment-box .action:after, .comment-box .action:before {
  display: table;
  content: "";
}

.comment-list .tab-bar-left {
  float: left;
}

.comment-list  .tab-bar h3 {
  font-size: 16px;
  line-height: 20px;
  padding: 12px 0;
}

.comment-list .tab-bar-right {
  float: right;
  cursor: pointer;
}

.comment-list .tab-bar ul.tab {
  list-style-type: none;
  overflow: hidden;
}

.comment-list .tab-bar .tab li {
  float: left;
}

.comment-list  .tab-bar ul.tab li.active a {
  color: #000;
  border-bottom: 2px solid #09f;
  padding-bottom: 10px;
}

.comment-list .tab-bar ul.tab a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #999;
  line-height: 20px;
  padding: 12px;
}

.comment-embed {
  margin-top: 10px;
  min-height: 300px;
}

.comment-embed .comment-box.first {
  border-top: none;
  padding-top: 10px;
}

.comment-embed .comment-box .avatar {
  float: left;
  overflow: hidden;
}

.comment-embed .comment-box .avatar .image-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #f4f4f4;
}

.comment-embed a {
  color: #09f;
  text-decoration: none;
}

.comment-embed .comment-box .avatar img {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.comment-embed .comment-box .payload {
  margin-left: 60px;
}

.comment-embed .comment-box .payload .textarea-container textarea, .comment-embed .comment-box .payload .textarea-container textarea.focus {
  height: 50px;
  cursor: text;
  border-bottom: none;
}

.comment-embed .comment-box .payload input[type=url], .comment-embed .comment-box .payload textarea {
  width: 100%;
  margin: 0;
  height: 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 0;
  line-height: 1.6em;
  cursor: pointer;
}

.comment-box input[type=url],.comment-box textarea {
  outline: none;
  line-height: 20px;
  padding: 6px 9px;
  margin: 6px 0;
  display: block;
  border: 1px solid #ccc;
  font: 13px Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;
}

.comment-embed .comment-box .action {
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-top-color: #eee;
}

.comment-embed .comment-box .action .lhs {
  float: left;
}

.comment-embed .comment-box .action .rhs {
  float: right;
}

.comment-embed .comment-box .action .word-count {
  float: left;
  height: 40px;
  line-height: 31px;
  color: #999;
}

/* .comment-embed .comment-box .action {
  height: auto;
} */

.comment-embed .comment-box .action .submit-comment, .comment-embed .comment-box .action .submit-reaction {
  float: left;
}

.comment-embed .comment-box .action .cmnt-btn {
  margin-left: 10px;
}

.comment-embed a.cmnt-btn.size-30 {
  font-size: 12px;
  padding: 4px 15px;
}

.comment-embed a.cmnt-btn {
  color: #fff;
  background-color: #09f;
  padding: 9px 20px;
  border: 1px solid #09f;
  border-radius: 3px;
  font: 700 14px/20px Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  -webkit-appearance: none;
}

.comment-embed .comment-entry {
  position: relative;
  padding-top: 10px;
}

.comment-embed .comment-entry .avatar {
  float: left;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.comment-embed .comment-entry .avatar .image-container {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}

.comment-embed .comment-entry .avatar img {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.comment-embed .comment-entry .payload {
  margin-left: 60px;
  padding-bottom: 10px;
}

.comment-embed .comment-entry .payload .info {
  font-size: 11px;
  line-height: 20px;
  color: #999;
}

.comment-embed .comment-entry .payload .info .username {
  margin-right: 8px;
}

.comment-embed .time {
  color: #999;
}

.comment-embed .comment-entry .payload .content {
  word-break: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.comment-embed .comment-entry .payload .content {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.comment-embed .comment-entry .payload .action {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  color: #999;
}

.comment-embed .comment-entry .payload .action .reply {
  display: block;
  float: left;
  margin-right: 10px;
}
