#container {
  position: relative;
  overflow: hidden;
  margin-left: 240px;
  padding: 0;
  outline: 0;
  clear: both;
}

.page {
  width: 972px;
  padding: 0;
  outline: 0;
  margin: 0 auto 40px;
}

.main-wrap {
  float: left;
  width: 640px;
}

section#list-view {
  margin: 20px 0 0;
}

section#list-view article {
  margin-top: 40px; /* limited time */
  margin-bottom: 30px;
  border-top: 1px solid #eee;
  padding: 20px 0 0;
}
section#list-view header {
  margin-bottom: 10px;
  position: relative;
}

section#list-view header a {
  color: #000;
}

section#list-view header .list-link:hover {
  color: #09f;
  text-decoration: none;
}

section#list-view h1 {
  word-wrap: break-word;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

section#list-view .post-container {
  width: 500px;
  position: relative;
  margin-bottom: 8px;
}

section#list-view .post-container {
  width: 500px;
  position: relative;
  margin-bottom: 8px;
}

section#list-view .post-container img {
  display: block;
  width: 500px;
  border: 0;
}

section#list-view p.post-meta {
  font-size: 14px;
  font-weight: 300;
  white-space: 2px;
  color: #999;
  margin: 0 0 8px;
}

section#list-view p.post-meta .meta-link {
  color: #999;
}

section#list-view p.post-meta .meta-clearfix {
  margin-left: 6px;
  margin-right: 6px;
}

.item-vote-container {
  width: 500px;
}

.post-afterbar-a {
  margin: 10px 0;
  padding-bottom: 0;
}

.left {
  float: left!important;
}

.btn-vote {
  overflow: hidden;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style-type: none;
}

.btn-vote a {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 44px;
  height: 34px;
  display: block;
  text-indent: -999px;
  position: relative;
}

.btn-vote .down:after, .btn-vote .up:after, .btn-vote .comment:after {
  position: absolute;
  content: " ";
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  margin-left: -15px;
}

.btn-vote .up:after {
  background: url("https://assets-9gag-fun.9cache.com/s/fab0aa49/93865bf35b6e74ebe10141a5bbeae9483532a800/static/dist/web6/img/sprite.png") -120px 0 no-repeat;
  background-size: 510px 120px;
}

.btn-vote .down:after {
  background: url("https://assets-9gag-fun.9cache.com/s/fab0aa49/93865bf35b6e74ebe10141a5bbeae9483532a800/static/dist/web6/img/sprite.png") -150px 0 no-repeat;
  background-size: 510px 120px;
}

.btn-vote .comment:after {
  background: url("https://assets-9gag-fun.9cache.com/s/fab0aa49/93865bf35b6e74ebe10141a5bbeae9483532a800/static/dist/web6/img/sprite.png") -180px 0 no-repeat;
  background-size: 510px 120px;
}

.btn-vote li {
  margin: 0 10px 0 0;
  float: left;
  list-style: none;
}

.clearfix {
  clear: both;
}