/* stylesheet */
#top-nav {
  background-color: #000;
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 13;
  min-width: 960px;
  height: 48px;
  z-index: 2;
}

#top-nav a {
  text-decoration: none;
}

#top-nav .logo {
  display: block;
  width: 72px;
  height: 48px;
  background: url('https://assets-9gag-fun.9cache.com/s/fab0aa49/93865bf35b6e74ebe10141a5bbeae9483532a800/static/dist/web6/img/sprite-logo.png') 50% no-repeat;
  background-size: 72px 48px;
  text-indent: -9999px;
  overflow: hidden;
  float: left;
  padding-left: 16px;
}

.nav-menu .secondary {
  list-style-type: none;
  margin: 0;
  padding: 0;
  outline: 0;
}

.nav-menu .secondary li {
  display: block;
  float: left;
}

.nav-menu .secondary li link.selected {
  color: #fff;
  background-color: hsla(0,0%,100%,.08);
}

.nav-menu .secondary .top-menu {
  font-weight: 300;
  display: block;
  color: hsla(0,0%,100%,.6);
  position: relative;
  line-height: 48px;
  font-size: 14px;
  padding: 0 12px;
  text-align: center;
  box-sizing: border-box;
}

.nav-right {
  float: right;
    position: relative;
}

.search-section {
  float: left;
  padding: 9px 0;
}

.nav-right .search {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -999px;
  overflow: hidden;
  background: url("https://assets-9gag-fun.9cache.com/s/fab0aa49/93865bf35b6e74ebe10141a5bbeae9483532a800/static/dist/web6/img/sprite.png") 0 0 no-repeat;
  background-size: 510px 120px;  
}

.visitor-section {
  float: right;
  padding: 9px 10px;
}

.visitor-section .btn-mute {
  display: inline-block;
  color: #bbb;
  font-weight: 300;
  line-height: 30px;
  height: 30px;
  padding: 0 12px;
}

.visitor-section .btn-primary {
  color: #fff;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  font-weight: 300;
  padding: 0 16px;
  border-radius: 2px;
  font-size: 14px;
  margin-left: 10px;
  background-color: #09f;
}