/* stylesheet */

.rightside {
  float: right;
  padding: 0 0 0 32px;
  width: 300px;
  position: relative;
}

.rightside-content {
  position: fixed;
  top: 48px;
  width: inherit;
}

.rightside-content {
  padding-top: 20px;
  padding-bottom: 60px;
}

.block-ad {
  margin: 0 0 20px;
  width: 300px;
}