/* stylesheet */

.section-sidebar {
  width: 240px;
  height: calc(100% - 48px);
  background-color: #fff;
  top: 48px;
  border-right: 1px solid rgba(0,0,0,.1);
  position: fixed;
  z-index: 13;
  overflow-y: auto;
  overflow-x: hidden;
}

.section-sidebar section {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 8px 0;
}

.section-sidebar section header h3 {
  height: 32px;
  line-height: 16px;
  padding: 8px 16px;
  box-sizing: border-box;
  color: #999;
  font-size: 12px;
  font-weight: 400;
}

.section-sidebar ul {
  margin: 0;
  padding: 0;
  outline: 0;
}

.section-sidebar .nav li {
  width: 100%;
  float: left;
}

.section-sidebar section .nav .thumbnail {
  width: 24px;
  height: 24px;
  margin-top: -12px;
}

.section-sidebar section .icon, .section-sidebar section .nav .thumbnail {
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: 90px 120px;
  left: 16px;
  top: 50%;
  margin-top: -15px;
}

.section-sidebar section .nav .thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.section-sidebar section .nav .side-link {
  color: #000;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  padding: 10px 16px 10px 56px;
  box-sizing: border-box;
  display: block;
  position: relative;
}
